body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.text-cyan {
  color: var(--cyan);
}

.month-picker {
  width: 400px;
  margin: auto;
}

.month-picker__link {
  color: gray !important;
  font-size: 1.25rem !important;
}

.events {
  height: 500px;
  width: 400px;
  background-color: #eee;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.spring {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.45)
    ),
    /* bottom, image */ url('./assets/images/spring.jpg');
}

.summer {
  background-image: url('./assets/images/summer.jpg');
}

.fall {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.45)
    ),
    /* bottom, image */ url('./assets/images/fall.jpg');
}

.winter {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.45)
    ),
    /* bottom, image */ url('./assets/images/winter.jpg');
}

.events-list__container {
  height: 450px;
  width: 95%;
  border-left: 3px solid var(--cyan);
}

.events-list {
  height: 95%;
  width: 95%;
  margin: auto;
  padding: 1rem;
  background-color: #eee;
  opacity: 0.8;
  border-radius: 5px;
}

.table {
  width: 400px !important;
  margin: auto;
}

.table td {
  cursor: pointer;
}

.circled {
  border: 1px solid var(--cyan);
  border-radius: 50%;
}

.add-event {
  font-size: 4rem;
  font-weight: bold;
  color: var(--cyan);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-event:hover {
  transform: scale(0.95);
}

.modal-dialog {
  max-width: 60vw !important;
}

.arrow {
  font-size: 4rem;
  color: #ccc;
  cursor: pointer;
}

.day:active {
  font-weight: bolder;
  color: var(--cyan) !important;
}

@media (max-width: 450px) {
  .calendar {
    width: 300px !important;
  }
  .arrow {
    font-size: 1.5rem;
  }
  .table td,
  .table th {
    font-size: 0.75rem !important;
  }
  .month-picker {
    font-size: 1rem;
  }
}
